* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    /* transition: all .5s cubic-bezier(0.19, 1, 0.22, 1); */
}


html {
    background-color: #F8F8F8;
}

body {
    margin: 0;
}